.bg-beige {
    background-color: #f5f5dc; /* Code hexadécimal pour la couleur beige */
}

.bg-vert {
    background-color: #809A83; /* Code hexadécimal pour la couleur vert */
}

.ma-police {
    font-family: "Arial", sans-serif;
}

.full-width-header {
    width: 100%;
}

.no-margin {
    margin: 0;
    padding: 0;
}

.vertical-text {
    writing-mode: vertical-rl; /* Définit l'écriture verticale de droite à gauche */
    transform: rotate(180deg);  /* Tourne le texte de 180 degrés */
    transform-origin: bottom;   /* Point de rotation en bas (peut être ajusté) */
}

.font-1 {
    font-family: 'Brown Sugar', sans-serif;
}

.font-2 {
    font-family: 'Bebas Neue', sans-serif;
}







